.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.706055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.242536,0.000000,-0.060634,0.242536,0,0);-ms-transform:matrix(0.242536,0.000000,-0.060634,0.242536,0,0);-webkit-transform:matrix(0.242536,0.000000,-0.060634,0.242536,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc0{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:48.000000px;}
.fs3{font-size:49.477268px;}
.fs0{font-size:55.980000px;}
.fs1{font-size:72.000000px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.750000px;}
.y2c{bottom:120.000000px;}
.y2b{bottom:134.250000px;}
.y2a{bottom:148.500000px;}
.y29{bottom:165.000000px;}
.y28{bottom:181.500000px;}
.y27{bottom:195.750000px;}
.y26{bottom:210.000000px;}
.y25{bottom:224.250000px;}
.y24{bottom:240.750000px;}
.y23{bottom:255.000000px;}
.y22{bottom:271.500000px;}
.y21{bottom:285.750000px;}
.y20{bottom:300.000000px;}
.y1f{bottom:316.500000px;}
.y1e{bottom:330.750000px;}
.y1d{bottom:345.000000px;}
.y1c{bottom:359.250000px;}
.y1b{bottom:375.750000px;}
.y1a{bottom:392.250000px;}
.y19{bottom:408.750000px;}
.y18{bottom:423.000000px;}
.y17{bottom:437.250000px;}
.y16{bottom:451.500000px;}
.y15{bottom:465.750000px;}
.y14{bottom:480.000000px;}
.y13{bottom:496.500000px;}
.y12{bottom:513.000000px;}
.y11{bottom:527.250000px;}
.y10{bottom:541.500000px;}
.yf{bottom:558.000000px;}
.ye{bottom:572.250000px;}
.yd{bottom:586.500000px;}
.yc{bottom:600.750000px;}
.yb{bottom:615.000000px;}
.ya{bottom:629.250000px;}
.y9{bottom:643.500000px;}
.y8{bottom:660.000000px;}
.y7{bottom:684.000000px;}
.y6{bottom:700.500000px;}
.y5{bottom:719.250000px;}
.y4{bottom:739.500000px;}
.y3{bottom:756.000000px;}
.y2{bottom:772.500000px;}
.h7{height:32.976792px;}
.h4{height:33.351563px;}
.h2{height:37.310889px;}
.h5{height:37.939570px;}
.h6{height:38.896260px;}
.h3{height:48.796875px;}
.h1{height:791.250000px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x1{left:49.500000px;}
.x4{left:85.500000px;}
.x3{left:135.750000px;}
.x2{left:233.250000px;}
.x5{left:312.260100px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs2{font-size:64.000000pt;}
.fs3{font-size:65.969690pt;}
.fs0{font-size:74.640000pt;}
.fs1{font-size:96.000000pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:1.000000pt;}
.y2c{bottom:160.000000pt;}
.y2b{bottom:179.000000pt;}
.y2a{bottom:198.000000pt;}
.y29{bottom:220.000000pt;}
.y28{bottom:242.000000pt;}
.y27{bottom:261.000000pt;}
.y26{bottom:280.000000pt;}
.y25{bottom:299.000000pt;}
.y24{bottom:321.000000pt;}
.y23{bottom:340.000000pt;}
.y22{bottom:362.000000pt;}
.y21{bottom:381.000000pt;}
.y20{bottom:400.000000pt;}
.y1f{bottom:422.000000pt;}
.y1e{bottom:441.000000pt;}
.y1d{bottom:460.000000pt;}
.y1c{bottom:479.000000pt;}
.y1b{bottom:501.000000pt;}
.y1a{bottom:523.000000pt;}
.y19{bottom:545.000000pt;}
.y18{bottom:564.000000pt;}
.y17{bottom:583.000000pt;}
.y16{bottom:602.000000pt;}
.y15{bottom:621.000000pt;}
.y14{bottom:640.000000pt;}
.y13{bottom:662.000000pt;}
.y12{bottom:684.000000pt;}
.y11{bottom:703.000000pt;}
.y10{bottom:722.000000pt;}
.yf{bottom:744.000000pt;}
.ye{bottom:763.000000pt;}
.yd{bottom:782.000000pt;}
.yc{bottom:801.000000pt;}
.yb{bottom:820.000000pt;}
.ya{bottom:839.000000pt;}
.y9{bottom:858.000000pt;}
.y8{bottom:880.000000pt;}
.y7{bottom:912.000000pt;}
.y6{bottom:934.000000pt;}
.y5{bottom:959.000000pt;}
.y4{bottom:986.000000pt;}
.y3{bottom:1008.000000pt;}
.y2{bottom:1030.000000pt;}
.h7{height:43.969056pt;}
.h4{height:44.468750pt;}
.h2{height:49.747852pt;}
.h5{height:50.586094pt;}
.h6{height:51.861680pt;}
.h3{height:65.062500pt;}
.h1{height:1055.000000pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x1{left:66.000000pt;}
.x4{left:114.000000pt;}
.x3{left:181.000000pt;}
.x2{left:311.000000pt;}
.x5{left:416.346800pt;}
}
