body {
    background-color: #FDF3E7;
    text-align: center;
    font-size: 125%;
}
h1{
    color: #556B2F;
}
p {

}
a {
    text-decoration: none;
}
nav {
    text-align: center;
    background-color: 	#8FBC8F;
    line-height: 50px;
}
nav a {
    color: white;
    font-weight: bold;
}
nav li {
    display: inline;
    font-size: 30px;
    list-style-type: none;
    padding-left: 100px;
    padding-right: 100px
}
nav a:hover {
    color: Maroon;
    text-decoration: underline;
}
h3 {
    color: maroon
}
.green {
    color: #6B8E23;
}
footer {
    text-align: center;
    line-height: 5px;
}
