body {
    background-color: #FDF3E7;
    text-align: center;
    font-size: 125%;
}
html {
    overflow-y:scroll;
}
h1{
    color: #556B2F;
}
div.index-opening {
    margin: 0 auto;
    text-align: center;
    width: 750px;
}
a {
    color: darkgreen;
    text-decoration: none;
}
a:hover {
    color: Maroon;
    text-decoration: underline;
}
nav {
    text-align: center;
    background-color: 	#8FBC8F;
    line-height: 50px;
}
nav a {
    color: white;
    font-weight: bold;
}
nav li {
    display: inline;
    font-size: 30px;
    list-style-type: none;
    padding-left: 100px;
    padding-right: 100px
}
nav a:hover {
    color: Maroon;
    text-decoration: underline;
}
h2 {
    margin: 5px auto;
}
h3 {
    color: maroon;
    margin-bottom: 4px;
}
.green {
    color: #6B8E23;
}
ul {
    margin-top: 5px;
}
li {
    width: 500px;

}
p {
  margin: 5px auto;
  text-align: center;
  width: 500px;
}
footer {
    text-align: center;
}
